body {
    background-color: thistle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo {
    font-size: 20px;
    color: teal;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sublinhado {
    text-decoration: underline;
}

.botao {
    color: honeydew;
    background-color: goldenrod;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
}

.botaoDois {
    color: honeydew;
    background-color: teal;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
}

.botaoTres {
    color: honeydew;
    background-color: firebrick;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
}